node_modules/
android/build/
android/app/build/
android/.gradle/
android/local.properties
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
*.jks
*.keystore
.DS_Store
